<h2>Hikes in the White Mountains</h2>
<h1>A way to keep track of which hikes you have tackled, and keep useful notes about each one!</h1>
<% trail.trails.forEach(t =>{ %>
    <h2><%= t.name %></h2>
    <h2> <img src="<%=t.imgSmall%>" width="300"><h2>
    <p><%= t.location %></p>
    <p><%= t.summary %></p>
    <p><%=  t.difficulty  %></p>
        <form method="POST" action="/favorites">
        <input type = "hidden" name="name" value="<%=t.name%>">
        <input type = "hidden" name="location" value="<%=t.location%>">
        <input type= "submit" value="Add to my hikes">
        </form>

  
   <% }) %> 